html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
}

/*General  Styles*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #fbfffb;
}
h2 {
  font-size: 50px;
}
nav {
  display: flex;
  padding-right: 100px;
  justify-content: flex-end;
  align-items: center;
  z-index: 999; /*will make sure everything scrolls behind the nav*/
}
header h2 {
  color: purple;
}
.source {
  margin: 20px;
  padding-left: 20px;
  padding: 10px;
  display: flexbox;
}
.headingstyle {
  display: flex;
  justify-content: center;
  border: 10px;
  background-color: #fdeaff;
}
.headingstyle h2 {
  text-align: center;
}
.organize {
  display: flex;
  flex-wrap: nowrap;
}
.reorganize {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.column {
  display: flex;
  flex-wrap: nowrap;
}
.allorganize {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.beginning {
  margin: 50px;
}
.boxOne {
  background-image: url("Golden peach.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  display: block;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxOne h1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.centered {
  border-block-color: black;
  margin: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -2%);
  font-size: 50px;
  color: rgb(255, 244, 240);
  outline: black;
}
.organize button {
  line-height: 16px;
  top: 150%;
  position: absolute;
}
.reorganize button {
  line-height: 16px;
  top: 50%;
}
.body-begin img {
  width: 1400px;
  height: 800px;
}

.boxTwo {
  background-image: url("african pattern.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}

.boxThree {
  background-image: url("peach gold.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxFour {
  background-image: url("red and silver.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxFive {
  background-image: url("Black dress.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxSix {
  background-image: url("sliver dress.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}

.boxSeven {
  background-image: url("Ghana.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxEight {
  background-image: url("inspiration.jpeg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxNine {
  background-image: url("Orange.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxTen {
  background-image: url("Ankara.jpeg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxEleven {
  background-image: url("Fashion.jpeg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.boxTwelve {
  background-image: url("Pink.jpeg");
  background-position: center; /* Center the image */
  background-size: cover;
  width: 400px;
  line-height: 16px;
  height: 450px;
  padding: 10%;
  margin: 20px;
  display: block;
}
.style {
  display: flex;
}
.stylish {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.foot {
  border: 10px;
  margin-top: 20px;
  padding: 100px;
  background-color: #e7bceb;
}
